.accessories-feature {
  background-color: #000;
  background-image: url("..//img/accessories.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(40vh - 44px); }
  .accessories-feature .image-text {
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 10vh; }
    .accessories-feature .image-text h1 {
      z-index: 25;
      font-size: 50px;
      font-weight: 100;
      margin-bottom: 10px; }
  .accessories-feature img {
    top: calc(70vh - 569px - 100px);
    z-index: 0; }

.acc-item {
  margin-top: 30px;
  text-align: center; }
  .acc-item h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px; }
  .acc-item img {
    max-width: 20vw; }
