nav {
  background-color: #1E1E1E;
  padding: 5px 0; }
  nav .pure-menu-link {
    color: #fff;
    transition: color 0.15s ease-in-out;
    margin: 0 10px;
    font-family: "Helvetica", sans-serif; }
    nav .pure-menu-link:hover, nav .pure-menu-link:focus, nav .pure-menu-link:active {
      color: #7F7F7F;
      background-color: transparent; }
  nav .pure-menu-selected .pure-menu-link {
    color: #7F7F7F !important; }
